{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Online Exam</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>


  <!------------------------------------------------------------------------------------------------------------>
  <!------------------------------------------ Navigation Bar -------------------------------------------------->
  <!------------------------------------------------------------------------------------------------------------>
  <nav class="navbar navbar-expand-lg navbar-light" id="myNavBar">

    <!-- Logo -->
    <a class="navbar-brand" href="#" style="font-family: 'Roboto', sans-serif;color: #05386B;font-weight: bolder;">Online Exam</a>

    <!-- Hamburger Icon With Animation -->
    <button class="navbar-toggler" style="outline: none; border: none;" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
      <svg class="ham ham6" viewbox="0 0 100 100" width="60" onclick="this.classList.toggle('active')">
        <path class="line top"
          d="m 30,33 h 40 c 13.100415,0 14.380204,31.80258 6.899646,33.421777 -24.612039,5.327373 9.016154,-52.337577 -12.75751,-30.563913 l -28.284272,28.284272" />
        <path class="line middle"
          d="m 70,50 c 0,0 -32.213436,0 -40,0 -7.786564,0 -6.428571,-4.640244 -6.428571,-8.571429 0,-5.895471 6.073743,-11.783399 12.286435,-5.570707 6.212692,6.212692 28.284272,28.284272 28.284272,28.284272" />
        <path class="line bottom"
          d="m 69.575405,67.073826 h -40 c -13.100415,0 -14.380204,-31.80258 -6.899646,-33.421777 24.612039,-5.327373 -9.016154,52.337577 12.75751,30.563913 l 28.284272,-28.284272" />
      </svg>
    </button>

    <!-- Nav-Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active ml-2">
          <a class="nav-link" id="hovering" data-toggle="modal" data-target="#signUpModalForm" href="#">Sign Up</a>
        </li>
        <li class="nav-item active ml-2">
          <a class="nav-link" id="hovering" data-toggle="modal" data-target="#elegantModalForm" href="#">Login</a>
        </li>
        <li class="nav-item active ml-2">
          <a class="nav-link" id="hovering" data-toggle="modal" data-target="#ModalFormFooter" href="#">Developers</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- The MainSection with an Animated Illustration -->
  <div class="section-1" id="container-1">
    <div class="container-fluid" id="full-height">
      <div class="col-md-8 ml-auto mr-auto" style="z-index: 10;">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-dismissible alert-{{ message.tags }} fade show position-absolute">
                  <button type="button" class="close position-absolute mr-2 mt-1" data-dismiss="alert" aria-label="Close" style="outline: none; margin-left: auto; top: 0px; right: 0px;">
                    <span aria-hidden="true" style="font-size: 35px;">&times;</span>
                  </button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
    </div>
      <div class="row" style="height: 75vh;">
        <div class="col-sm-5 p-0 d-flex align-items-center">
          <!-- Ultimate Platform Heading Text -->
          <h2 class="p-0 m-0 mainText">The <br><span style="color: #05386B; font-weight: 600;">Ultimate Platform</span>
            <br>For Conducting Online Tests</h2>
        </div>
        <!-- Animated Illustration -->
        <div class="col-sm-7 d-flex align-items-center">
          <div id="lottie" class="col-md-12"></div>
        </div>
      </div>
    </div>
    <!-- The White Wave Svg -->
    <div class="waves">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#ffffff" fill-opacity="1"
          d="M0,256L48,229.3C96,203,192,149,288,154.7C384,160,480,224,576,218.7C672,213,768,139,864,128C960,117,1056,171,1152,197.3C1248,224,1344,224,1392,224L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
        </path>
      </svg>
    </div>
  </div>

  <!-- Modal Form Log In -->
  <div class="modal fade" id="elegantModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content form-elegant">
        <div class="modal-header text-center pb-0">
          <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3 ml-auto mr-auto pb-0 mb-0" id="myModalLabel"
          style="font-family: 'Roboto', sans-serif; font-size: 30px;">
            <strong>Log In</strong>
          </h3>
          <button type="button" class="close position-absolute mr-2 mt-1" data-dismiss="modal" aria-label="Close" style="outline: none; margin-left: auto; top: 0px; right: 0px;">
            <span aria-hidden="true" style="font-size: 35px;">&times;</span>
          </button>
        </div>
  
        <div class="modal-body mx-4">
          {% comment %} <div class="row my-3 d-flex justify-content-center" style="margin:0px !important">
            <a href="{% provider_login_url 'google' %}">
              <button type="button" class="google-btn">
                <img src="{% static 'images/google_btn.png' %}">
              </button>
            </a>
          </div> 
          <p class="font-small dark-grey-text text-right d-flex justify-content-center pt-0 mt-3 mb-0 " id="theOrText" style="font-family: 'Roboto', sans-serif;">OR</p> {% endcomment %}
          {% if errormsg|length > 0 %}
            <p id="loginErrorMsg" class="col-sm-12 col-md-6" style="text-align:center; font-family: 'Roboto', sans-serif; display: block;">{{errormsg}}</p>
          {% endif %}
            
          
          <form action="{% url 'login' %}" method="POST" class="needs-validation col-12 p-0" style="font-family: 'Roboto', sans-serif;" novalidate>
            {% csrf_token %}
            <div class="form-row">
              <div class="col-sm-12 field">
                <input type="email" name="username" class="form-control" id="validationEmail" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder=" " required>
                <label for="validationEmail" class="label">Email</label>
                <div class="invalid-feedback">
                  Please enter a valid Email.
                </div>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-sm-12 field">
                <input type="password" class="form-control" name="password" id="validationPasswordLogin" placeholder=" " required>
                <label for="validationPassword" class="label">Password</label>
                <div class="invalid-feedback">
                  Please enter a valid Password.
                </div>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
            </div>
            <div class="form-row">
              <a href="{% url 'password-reset' %}" class="ml-auto forgotPassword"><p>Forgot Password?</p></a>
            </div>
            <div class="btn-container d-flex justify-content-center p-2"> 
              <button id="submitBtnLogin" type="submit" value="Login" class="btn btn-secondary ml-auto mr-auto d-flex align-items-center justify-content-center text-align-center">
                Log In
                <div class="loader" style="display: none;" id="loaderLogin">
                  <svg class="circular" viewBox="25 25 50 50">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10"/>
                  </svg>
                </div>   
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Form Registration -->
  <div class="modal fade" id="signUpModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <!--Content-->
      <div class="modal-content form-elegant">
        <!--Header-->
        <div class="modal-header text-center pb-0 mb-0">
          <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3 ml-auto mr-auto pb-0 mb-0" id="myModalLabel"
          style="font-family: 'Roboto', sans-serif; font-size: 30px;">
            <strong>Register</strong>
          </h3>
          <button type="button" class="close position-absolute mr-2 mt-1" data-dismiss="modal" aria-label="Close" style="outline: none; margin-left: auto; top: 0px; right: 0px;">
            <span aria-hidden="true" style="font-size: 35px;">&times;</span>
          </button>
        </div>
        <!--Body-->
        <div class="modal-body mx-4 mt-1 pt-0 pr-0 pl-0">
          {% comment %} <div class="row my-3 d-flex justify-content-center" style="margin:0px !important">
            <a href="{% provider_login_url 'google' %}">
              <button type="button" class="google-btn">
                <img src="{% static 'images/google_btn.png' %}">
              </button>
            </a>
          </div>

          <p class="font-small dark-grey-text text-right d-flex justify-content-center pt-0 mt-3 mb-0 " id="theOrText" style="font-family: 'Roboto', sans-serif;">OR</p> {% endcomment %}
          {% if errormsg|length > 0 %}
            <p id="loginErrorMsg" class="col-sm-12 col-md-6" style="text-align:center; font-family: 'Roboto', sans-serif; display: block;">{{errormsg}}</p>
          {% endif %}


          <form action="{% url 'signup' %}" method="POST" id="myCustomForm" class="needs-validation col-12 p-0" style="font-family: 'Roboto', sans-serif;" novalidate>
            {% csrf_token %}
            <div class="form-row">
              <div class="col-sm-6 field">
                <input type="text" class="form-control" name="firstName" id="validationFirstName" pattern="[A-Za-z]{1,40}" placeholder=" " required>
                <label for="validationFirstName" class="label">First name</label>
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Please enter your First Name
                </div>
              </div>
              <div class="col-sm-6 field">
                <input type="text" class="form-control" name="lastName" id="validationLastName" pattern="[A-Za-z]{1,40}" placeholder=" " required>
                <label for="validationLastName" class="label">Last name</label>
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Please enter your Last Name
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-sm-12 field">
                <input type="email" name="email" class="form-control" id="validationEmail" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder=" " required>
                <label for="validationEmail" class="label">Email</label>
                <div class="invalid-feedback">
                  Please enter a valid Email.
                </div>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="col-6 field">
                <input type="tel" class="form-control" id="validationPhone" name="phoneNumber" placeholder=" " pattern="[0-9]{10}" required>
                <label for="validationPhone" class="label">Phone</label>
                <div class="invalid-feedback">
                  Please enter a valid Phone Number.
                </div>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>

              <div class="col-6 field">
                <input type="tel" class="form-control" id="validationPhone" name="prn_number" placeholder=" " pattern="[0-9A-Za-z]{9}" required>
                <label for="validationPhone" class="label">PRN No.</label>
                <div class="invalid-feedback">
                  Please enter a valid PRN Number.
                </div>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>

            </div>

            {% comment %} College Name {% endcomment %}
              <div class="form-row">
              <div class="col-sm-12 field">
                <div class="form-group">
                    <select class="custom-select" name="collegeName" required>
                      <option id="collegeName" value="KJCOEMR"> KJCOEMR </option>
                    </select>
                  <div class="invalid-feedback">Example invalid custom select feedback</div>
                </div>
              </div>
            </div>

            {% comment %} Branch and Year {% endcomment %}
            <div class="form-row">
              <div class="col-6 field">
                <div class="form-group">
                    <select class="custom-select" oninput="selectYear()" id="yearSelect" name="yearSelect" required>
                      <option value="" disabled>Year</option>
                      <option id="FE" value="FE"> FE </option>
                      <option id="SE" value="SE"> SE </option>
                      <option id="TE" value="TE"> TE </option>
                      <option id="BE" value="BE"> BE </option>
                    </select>
                  <div class="invalid-feedback">Example invalid custom select feedback</div>
                </div>
              </div>
              <div class="col-6 field">
                <div class="form-group" id="branchDiv" style="display: none;">
                    <select class="custom-select form-control-lg" name="branchSelect" required>
                      <option value="" disabled>Branch</option>
                      <option value="Computer"> Computer </option>
                      <option value="Mechanical"> Mechanical </option>
                      <option value="Civil"> Civil </option>
                      <option value="Electrical"> Electrical </option>
                      <option value="ENTC"> ENTC </option>
                    </select>
                  <div class="invalid-feedback">Example invalid custom select feedback</div>
                </div>
              </div>


            </div>

            {% comment %} Password {% endcomment %}
            <div class="form-row">
              <div class="col-sm-12 field">
                <input type="password" class="form-control" name="password" id="validationPassword" placeholder=" " required>
                <label for="validationPassword" class="label">Password</label>
                <div class="invalid-feedback">
                  Please enter a valid Password.
                </div>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
            </div>  
            <div class="form-row">
              <div class="col-sm-12 field">
                <input type="password" class="form-control" name="confirmPassword" id="validationConfirmPassword" placeholder=" " required>
                <label for="validationConfirmPassword" class="label">Confirm Password</label>
                <div id="cPwdInvalid" class="invalid-feedback">
                  Please enter a valid Password.
                </div>
                <div id="cPwdValid" class="valid-feedback">
                  Looks good!
                </div>
              </div>
            </div>
            <div class="btn-container d-flex justify-content-center p-2"> 
              <button id="submitBtn" type="submit" value="Register" class="btn btn-secondary ml-auto mr-auto d-flex align-items-center justify-content-center text-align-center" disabled>
                Register
                <div class="loader" style="display: none;" id="loader">
                  <svg class="circular" viewBox="25 25 50 50">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10"/>
                  </svg>
                </div>   
              </button>
            </div>
          </form>
        </div>
        <!--/.Content-->
      </div>
    </div>
  </div>
  

  <div class="modal fade" id="ModalFormFooter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content form-elegant">
        <div class="modal-header text-center pb-0">
          <h5 class="modal-title" id="exampleModalLabel">Developers</h5>
          <button type="button" class="close position-absolute mr-2 mt-1" data-dismiss="modal" aria-label="Close" style="outline: none; margin-left: auto; top: 0px; right: 0px;">
            <span aria-hidden="true" style="font-size: 35px;">&times;</span>
          </button>
        </div>
        <hr>
        <div class="dev">
          <div class="devDescription ml-4">
            <p id="devName" style="font-weight: bold;">Prof.Dr. Deepak C Mehetre</p>
            <p id="devWork">HOD Computer Department, KJCOEMR</p>
          </div>
        </div>
        <div class="modal-body mx-4">
          <div class="dev mt-3">
            <div class="devDescription ml-4">
              <p id="devName" style="font-weight: bold;">Quresh Lakdawala</p>
              
            </div>
          </div>
          <div class="dev mt-3">
            <div class="devDescription ml-4">
              <p id="devName" style="font-weight: bold;">Bharat Choudhary</p>
            </div>
          </div>
          <div class="dev mt-3">
            <div class="devDescription ml-4">
              <p id="devName" style="font-weight: bold;">Bhavik Khatri</p>
            </div>
          </div>
          <div class="dev mt-3">
            <div class="devDescription ml-4">
              <p id="devName" style="font-weight: bold;">Saif Mulla</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Login</button> -->
        </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Lottie Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.4/lottie.min.js"
    integrity="sha512-m0RQU4SBx0p/bLwRiI4fJBGRafVLZ4s86wRe1+OAx5EXbcWiS/X1jvYdJQRD8jOoIVl+WTyVeMawUWVCh1O8+Q=="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.7.4/lottie.min.js"
    integrity="sha512-m0RQU4SBx0p/bLwRiI4fJBGRafVLZ4s86wRe1+OAx5EXbcWiS/X1jvYdJQRD8jOoIVl+WTyVeMawUWVCh1O8+Q=="
    crossorigin="anonymous"></script>
  <script src="{% static 'js/index.js' %}"></script>

  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
    crossorigin="anonymous"></script>

  <script>
    {% if loginModel %}
      $('#elegantModalForm').modal('show')
    {% else %}
      $('#elegantModalForm').modal('hide')
    {% endif %}
  </script>

  <script>
    {% if signUpModel %}
      $('#signUpModalForm').modal('show')
    {% else %}
      $('#signUpModalForm').modal('hide')
    {% endif %}
  </script>

  <script>
    $(document).ready(function(){
      // ------------ Check passwords similarity --------------
      $('#validationPassword, #validationConfirmPassword').on('keyup', function () {
        if ($('#validationPassword').val() != '' && 
          $('#validationConfirmPassword').val() != '' && 
          $('#validationPassword').val() == $('#validationConfirmPassword').val()){
            $('#cPwdValid').show();
            $('#cPwdInvalid').hide();
            $('#cPwdInvalid').html('Passwords Match').css('color', 'green');
            $('.myCpwdClass').addClass('is-valid');
            $('.myCpwdClass').removeClass('is-invalid');
            $("#submitBtn").attr("disabled",false);
            $('#submitBtn').addClass('btn-primary').removeClass('btn-secondary');
            for (i = 0; i < myInputElements.length; i++) {
              var myElement = document.getElementById(myInputElements[i].id);
              if (myElement.classList.contains('is-invalid')) {
                $("#submitBtn").attr("disabled",true);
                $('#submitBtn').addClass('btn-secondary').removeClass('btn-primary');
                break;
              }
            }
        } else {
            $('#cPwdValid').hide();
            $('#cPwdInvalid').show();
            $('#cPwdInvalid').html('Not Matching').css('color', 'red');
            $('.myCpwdClass').removeClass('is-valid');
            $('.myCpwdClass').addClass('is-invalid');
            $("#submitBtn").attr("disabled",true);
            $('#submitBtn').addClass('btn-secondary').removeClass('btn-primary');
          }
      });
    }); 
  </script>
  
  <script>
    function selectYear(){
      var select = document.getElementById("yearSelect")
      var branch = document.getElementById("branchDiv")
      
      if(select.value == 'FE'){
        branch.style.display = "none"
      }
      else{
        branch.style.display = "block"
      }

    }
  </script>

</body>

</html>

<!-- onsubmit="document.getElementById('loader').style.display = 'block' ;" -->