.negative_input_hide{
    display: none;
}      
.negative_input_show{
    display: block;
}
.questionBox{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    padding: 60px;
  
    width: 100%;
    box-shadow: 0 10px 25px rgb(151, 151, 212);

}
.mainContents{
     display: flex;
    justify-content: center;
    /* border: 2px solid blue; */
    height: 70vh;
    align-items: center;
}