<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student - Test</title>

    <!-- Google Scripts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <link rel="stylesheet" href="../../../static/css/student_test_page.css">


    <script defer src="{% static 'js/face-api.min.js' %}"></script> 
    <script defer src="{% static 'js/faceDetection-script.js' %}"></script>
    <style>
        canvas {
            position: absolute;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top myNavbar">
        <a class="navbar-brand" href="#">KJCOEMR</a>

        <!-- Hamburger Icon With Animation -->
        <button class="navbar-toggler" style="outline: none; border: none;" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <svg class="ham ham6" viewBox="0 0 100 100" width="50" onclick="this.classList.toggle('active')">
                <path class="line top"
                    d="m 30,33 h 40 c 13.100415,0 14.380204,31.80258 6.899646,33.421777 -24.612039,5.327373 9.016154,-52.337577 -12.75751,-30.563913 l -28.284272,28.284272" />
                <path class="line middle"
                    d="m 70,50 c 0,0 -32.213436,0 -40,0 -7.786564,0 -6.428571,-4.640244 -6.428571,-8.571429 0,-5.895471 6.073743,-11.783399 12.286435,-5.570707 6.212692,6.212692 28.284272,28.284272 28.284272,28.284272" />
                <path class="line bottom"
                    d="m 69.575405,67.073826 h -40 c -13.100415,0 -14.380204,-31.80258 -6.899646,-33.421777 24.612039,-5.327373 -9.016154,52.337577 12.75751,30.563913 l 28.284272,-28.284272" />
            </svg>
        </button>

        {% comment %} <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto" id="inline-popups">
                <li class="nav-item active mx-2">
                    <a class="nav-link" href="#">About Us <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div> {% endcomment %}
    </nav>

    <div class="container-fluid mainscreen">
        <!-- Contents -->
        <div class="contents">
            <div class="col-12 pl-0 pr-0">
                <form id="formID" action="" method="POST" class="col-12 pl-0 pr-0">
                    <input name="data" type="text" value="{{data}}" hidden>
                    {% csrf_token %}
                    {% for question in questions %}
                    <div id="questionScrolling-{{ forloop.counter }}">
                        <div class="col-12 questionDiv">
                            {% if question.question|length > 2000 %}

                            <img src="{{question.question}}" alt="Question IMg" height="300" width="auto"
                                style="display: block !important;">
                            {% else %}
                            <p class="question col-12 " name="question" id="qtext">
                                <span style="float: left;">Q{{forloop.counter}} )</span>
                                {{question.question}}
                            </p>
                            {% endif %}
                            <input name="que-{{forloop.counter}}" type="text" value="{{question.question}}" hidden>
                        </div>

                        {% if question.is_objective %}
                        <div class="row optionRow mt-5 col-12 mr-0 ml-0">
                            <!-- Option 1 -->
                            <div class="col-12 col-md-5 options" id="optionid-1{{ forloop.counter }}">
                                <div class="row optionContents">
                                    <div class="col-9 col-lg-10 pl-0 pr-0">
                                        {%if question.option1|length > 2000%}

                                        <img src="{{question.option1}}" alt="Question IMg" height="100px" width="auto"
                                            style="display: block !important;">
                                        {% else %}
                                        <p id="op1" name="option1" class="col-12 mb-0 pl-1 pr-0 optionInput">
                                            {{ question.option1 }}
                                        </p>
                                        {% endif %}
                                        <input name="op-1" type="text" value="{{question.option1}}" hidden>
                                    </div>
                                    <div class="col-2 col-lg-1 pl-0 pr-0">
                                        <div class="col-12"
                                            style="display: flex; align-items: center; justify-content: center;">
                                            <span class="material-icons selecticon ml-auto mr-auto radioBtn"
                                                onclick="selectCorrectAns(1,'optionid-1{{ forloop.counter }}','{{ forloop.counter }}')">
                                                radio_button_unchecked
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Option 2 -->
                            <div class="col-12 col-md-5 options mt-3 mt-md-0" id="optionid-2{{ forloop.counter }}">
                                <div class="row optionContents">
                                    <div class="col-9 col-lg-10 pl-0 pr-0">
                                        {%if question.option2|length > 2000%}

                                        <img src="{{question.option2}}" alt="Question IMg" height="100px" width="auto"
                                            style="display: block !important;">
                                        {% else %}
                                        <p id="op2" name="option2" class="col-12 mb-0 pl-1 pr-0 optionInput">
                                            {{ question.option2 }}
                                        </p>
                                        {% endif %}
                                        <input name="op-2" type="text" value="{{question.option2}}" hidden>
                                    </div>
                                    <div class="col-2 col-lg-1 pl-0 pr-0">
                                        <div class="col-12"
                                            style="display: flex; align-items: center; justify-content: center;">
                                            <span class="material-icons selecticon ml-auto mr-auto radioBtn"
                                                onclick="selectCorrectAns(2,'optionid-2{{ forloop.counter }}' ,'{{ forloop.counter }}')">
                                                radio_button_unchecked
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row optionRow optionLast mt-3 mt-lg-4 col-12 mr-0 ml-0 ">
                            <!-- Option 3 -->
                            <div class="col-12 col-md-5 options" id="optionid-3{{ forloop.counter }}">
                                <div class="row optionContents">
                                    <div class="col-9 col-lg-10 pl-0 pr-0">
                                        {%if question.option3|length > 2000%}

                                        <img src="{{question.option3}}" alt="Question IMg" height="100px" width="auto"
                                            style="display: block !important;">
                                        {% else %}
                                        <p id="op3" name="option3" class="col-12 mb-0 pl-1 pr-0 optionInput">
                                            {{ question.option3 }}
                                        </p>
                                        {% endif %}
                                        <input name="op-3" type="text" value="{{question.option3}}" hidden>
                                    </div>
                                    <div class="col-2 col-lg-1 pl-0 pr-0">
                                        <div class="col-12"
                                            style="display: flex; align-items: center; justify-content: center;">
                                            <span class="material-icons selecticon ml-auto mr-auto radioBtn"
                                                onclick="selectCorrectAns(3,'optionid-3{{ forloop.counter }}','{{ forloop.counter }}')">
                                                radio_button_unchecked
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Option 4 -->
                            <div class="col-12 col-md-5 options mt-3 mt-md-0" id="optionid-4{{ forloop.counter }}">
                                <div class="row optionContents">
                                    <div class="col-9 col-lg-10 pl-0 pr-0">
                                        {%if question.option4|length > 2000%}

                                        <img src="{{question.option4}}" alt="Question IMg" height="100px" width="140px"
                                            style="display: block !important;">
                                        {% else %}
                                        <p id="op4" name="option4" class="col-12 mb-0 pl-1 pr-0 optionInput">
                                            {{ question.option4 }}
                                        </p>
                                        {% endif %}
                                        <input name="op-4" type="text" value="{{question.option4}}" hidden>
                                    </div>
                                    <div class="col-2 col-lg-1 pl-0 pr-0">
                                        <div class="col-10"
                                            style="display: flex; align-items: center; justify-content: center;">
                                            <span class="material-icons selecticon ml-auto mr-auto radioBtn"
                                                onclick="selectCorrectAns(4,'optionid-4{{ forloop.counter }}','{{ forloop.counter }}')">
                                                radio_button_unchecked
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% else %}

                        <div class="col-12 questionDiv pr-0 pl-0 " id="textField">
                            <textarea name="descriptive-ans-{{forloop.counter}}" onchange="descriptiveAns('descriptive-ans-{{forloop.counter}}','{{forloop.counter}}')" id="descriptive-ans-{{forloop.counter}}" class="answer col-12" cols="30" rows="30"
                                placeholder="Type answer"></textarea>
        
                        </div>
                        {% endif %}
                    </div>
                    <input type="text" name="question-type-{{forloop.counter}}" id="question-type-{{forloop.counter}}" value="{{question.is_objective}}" hidden>
                    <input type="text" name="selected-op-{{forloop.counter}}" id="selected-op-{{forloop.counter}}"
                        hidden value="0">
                    {% endfor %}
                    <div class="row col-12 mt-4 mb-4 mr-0 ml-0">
                        <div class="text-center col-12">
                            <input type="submit" id="nextBtn" value="SUBMIT" class="btn btn-outline-success " onclick="submitFunc()" disabled>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <!-- Side Bar -->
        <div class="questionBar">
            <form action="{% url 'studentTest' test.id %}" id="timer-form">
                {% csrf_token %}
                <div class="timerDiv">
                    <p class="Timer" id="timer"></p>
                </div>
            </form>
            <div class=" questionTable">
                <div class="row col-12 m-0 ">
                    {% for question in questions %}
                    <a class="col-md-3 eachQuestion" href="#questionScrolling-{{ forloop.counter }}">
                        <div>{{ forloop.counter }}</div>
                    </a>
                    {% endfor %}
                </div>
            </div>

            <div id="cameraDiv">
                <video width="250" height="250" autoplay="true" id="videoElement">

                </video>
            </div>

        </div>
    </div>


    <script src="../../../static/js/student_test_page.js"></script>



    <!-- Bootstrap Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>    

    <!-- Auto Submit Script -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>


    <!-- This script is to disable the inspect element -->
    {% comment %}
    <script>
        $(document).bind("contextmenu", function (e) {
            e.preventDefault();
        });

        $(document).keydown(function (e) {
            if (e.which === 123) {
                return false;
            }
        });

        document.onkeydown = function (e) {
            if (event.keyCode == 123) {
                return false;
            }
            if (e.ctrlKey && e.keyCode == 'E'.charCodeAt(0)) {
                return false;
            }
            if (e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) {
                return false;
            }
            if (e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) {
                return false;
            }
            if (e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) {
                return false;
            }
            if (e.ctrlKey && e.keyCode == 'S'.charCodeAt(0)) {
                return false;
            }
            if (e.ctrlKey && e.keyCode == 'H'.charCodeAt(0)) {
                return false;
            }
            if (e.ctrlKey && e.keyCode == 'A'.charCodeAt(0)) {
                return false;
            }
            if (e.ctrlKey && e.keyCode == 'F'.charCodeAt(0)) {
                return false;
            }
            if (e.ctrlKey && e.keyCode == 'E'.charCodeAt(0)) {
                return false;
            }
        }

    </script> {% endcomment %}

    <script>
        $('#nextBtn').on('click',function(e){
            e.preventDefault();
            var form = $(this).parents('form');
            Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, Submit it!'
            }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire(
                'Submitted!',
                'Your test has been submitted.',
                'success'
                )
                window.setTimeout(function submitForm(){
                        form.submit();
                },3000)
            }
            })
        });
        
            

    </script>

    {% comment %} Ajax code to Updated Timer {% endcomment %}
    <script>
        window.setInterval(
            function ajax_func(){
                var test_id = {{test.id}};
                console.log(test_id);
                var time = document.getElementById('timer').textContent;
                console.log(time);
                var url=document.getElementById("timer-form").action
                $.ajax({
                    type: 'GET',
                    url: url,
                    data : {
                        'time' : time,
                        'test_id':parseInt(test_id),
                    }
                })
            }
            
            ,10000)
    </script>

    {% comment %} Timer Logic {% endcomment %}
    <script>
        function autoSubmit(){
            var form = $('#formID');
            Swal.fire(
                'Time Up!',
                'Your test has been submitted.',
                'successfully'
                )
            window.setTimeout(function submitForm(){
                form.submit();
            },4000)    
            
        }
        

        function makeMeTwoDigits(n){
            return (n < 10 ? "0" : "") + n;
        }
        
        {% if tracker_exists %}
            let timeInSecs = parseInt({{tracker_time}})
        {% else %}
            let timeInSecs = parseInt({{test.examDuration}})
        {% endif %}

        
        //Time Calculation
        var hours   = Math.floor(timeInSecs/ 3600);
        timeInSecs%=3600;
        var minutes = Math.floor(timeInSecs / 60);
        
        var seconds = timeInSecs % 60;
        //seconds=59;
        //--minutes;
        var x = setInterval(function() {

            
            document.getElementById("timer").innerHTML =makeMeTwoDigits(hours) + " : " +makeMeTwoDigits(minutes) + " : " +makeMeTwoDigits(seconds);
            --seconds;
            if (seconds < 0) {
                if(minutes > 0){
                    --minutes;   
                }
                seconds = 59;
                if (minutes == 0) {
                    if(hours > 0){
                        --hours;
                        minutes=59;
                    } else{
                        hours=0
                        minutes=0;
                    }
                }
            }
           
            if(hours == 0){
                hours = 0;
            }
            if(hours==0 && minutes == 0 && seconds == 0){
                document.getElementById("timer").innerHTML = "00:00:00";
                clearInterval(x);
                autoSubmit()
            }
        }, 1000);
    </script>

</body>

</html>