<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="question_form">
        <form method="POST">
            {% csrf_token %}
            <label for="question">Question {{ question_increment }} </label>
            <input type="text" name="question">
            <label for="" option1">Option1</label>
            <input type="text" name="option1text" id="option1text" oninput="getInput(id,answer)">
            <input type="file" name="option1file">
            <label for="" option2">Option2</label>
            <input type="text" name="option2text" id="option2text" oninput="getInput(id,answer)">
            <input type="file" name="option2file">
            <label for="" option3">Option3</label>
            <input type="text" name="option3text" id="option3text" oninput="getInput(id,answer)">
            <input type="file" name="option3file">
            <label for="" option4">Option4</label>
            <input type="text" name="option4text" id="option4text" oninput="getInput(id,answer)">
            <input type="file" name="option4file">
            <label for="answer">Select Answer</label>
            <select name="answer">
                <option id="ans1" value="">option 1</option>
                <option id="ans2" value="">option 2</option>
                <option id="ans3" value="">option 3</option>
                <option id="ans4" value="">option 4</option>
            </select>
            <label for="difficulty">Select difficulty level</label>
            <input type="range" name="difficulty" min="0" max="2" step="1">
            <input type="submit" value="Next" id="next_button" >
        </form>
    </div>
    <script src="{% static 'js/option.js' %}"></script>
</body>

</html>