{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .negative_input_hide{
            display: none;
        }      
        .negative_input_show{
            display: block;
        }
    </style>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Subject Name" name="subjectName" required><br>
        <input type="number" placeholder="Total No. Questions" name="totalQuestions" min="1" required><br>
        <input type="number" placeholder="Total Marks" name="totalMarks" min="1" required><br>
        <input type="datetime-local" name="dateTime" placeholder="Date and Time" required><br>
        <input type="number" name="examDuration" placeholder="Duration of Exam (in min)" min="5" required><br>
        <label for="negativeMarking">Negative Marking</label>
        <span>
            <label for="neg_mark_yes">Yes</label>
            <input type="radio" name="negativeMarking" id="neg_mark_yes" onclick="Radio1()">
            <label for="neg_mark_no">No</label>
            <input type="radio" name="negativeMarking" id="neg_mark_no" checked onclick="Radio2()">
        </span>

        <input type="number" name="negativeMarksInput" id="negativeMarksInput" min="-1" max="-5" placeholder="negativeMarksInput"><br>
        <input type="submit" value="Submit">
    </form>

    <script src="{% static 'js/question.js' %}"></script>
</body>
</html>